body {
    font-family: Franklin Gothic Book, sans-serif;
    font-size: 2.5vw;
    border: 12px solid black;
    background-image: url("richmond-skyline.jpg");
    background-size: cover;
}

header {
    display: flex;
    align-items: center;
    position: fixed;
    left: 80px;
    opacity: 0.75;
}

#logo {
    width: 8vw;
    height: 6vw;
    margin-right: 16px;
}

main {
    padding: 0px;
}